@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

.landing{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container{
    width: 85%;
    border: 1px solid gray;
    padding: 100px 50px;
    display: flex;
    flex-direction: colurmn;
    justify-content: center;
    align-items: center;
}
